/* styling for the screen containing score & results */
/* page container for the results */
.score-board {
  position: relative;
  min-height: 537px;
  border-style: solid;
  border-width: 1px;
  border-color:  #FFFFFF;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #FFFFFF;
}

/* score at the top */
.score {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black;
  font-size: 30px;
}

/* the container around the table with all the information */
.score-table-container {
  box-shadow: 2px 2px #e1e7f0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #F8F8FF;
  border-radius: 5px;
}

/* adding hover effects on the entire table container */
.score-table-container:hover {
  transform: scale(1.01);
}

/* header for the table */
th {
  width: 100%;
  border: 2px solid #F8F8FF;
  border-radius: 5px;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3481ed;
  color: white;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

/* content for each cell of the table */
td {
  border: 2px solid #F8F8FF;
  border-radius: 5px;
  padding: 8px;
  background-color: white;
  color: black;
  height: 50px;
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
